*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

.loader{
    position: fixed;
    z-index: 999;
    background: var(--bg);
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.pl {
	display: block;
	width: 6.25em;
	height: 6.25em;
}
.pl__ring, .pl__ball {
	-webkit-animation: ring 2s ease-out infinite;
	        animation: ring 2s ease-out infinite;
}
.pl__ball {
	-webkit-animation-name: ball;
	        animation-name: ball;
}

/* Dark theme  */
/* @media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
} */

/* Animation */
@-webkit-keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@-webkit-keyframes ball {
	from, 50% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}
@keyframes ball {
	from, 50% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}

#main{
    position:relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}


#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 9;
}
nav{
    position: fixed;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.heading>h3{
    font-weight: 400;
    margin-left: 15px;
}

.btn{
    display: flex;
    align-items: center;
    align-items: center;
    border: none;
    height: 40px;
    cursor: pointer;
    font-weight: 400;
}

.btn a{
    padding-right: 20px;
}
#loop{
    display: flex;
    position: absolute;
    width: 100%;
    height: 25%;
    top: 30%;
    font-size: 100px;
    white-space: nowrap;
}

#loop>h1{
    font-weight: 400;
    animation-name: loop;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}

@keyframes loop{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#page>p{
    position: absolute;
    top: 70%;
    font-size: 0.9rem;
    left: 5%;
    z-index: 10;
    width: 40vw;
}

#page>h4{
    position: absolute;
    top: 80%;
    font-size: 0.9rem;
    right: 5%;
    text-align: end;
}


#page1>p{
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 0.9rem;
}

#page1>h1{
    position: absolute;
    top: 45%;
    left: 5%;
}
.left-page1{
    position: absolute;
    top: 55%;
    right: 5%;
    text-align: end;
}

.left-page1>p{
    position: absolute;
    top: 105%;
    right: 5%;
    font-size: 0.9rem;
}

#page2>p{
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 0.9rem;
}

#page2>h1{
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 4rem;
}

.left-page2{
    position: absolute;
    top: 65%;
    right: 5%;
    text-align: end;
    font-size: 0.9rem;
    z-index: 10;
    width: 35vw;
}

#page3>p{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 0.9rem;
    z-index: 10;
    width: 35vw;
}

.left-page3{
    position: absolute;
    top: 50%;
    right: 5%;
    text-align: end;
    padding: 5px 0;
}